
.homePage{ /* artists is an array that holds each of the artist objects and its information. this is styling all of the columns as a whole */
  flex-direction: row;
  justify-content: space-evenly;
  width:100%;
  
}

.rowItems{
  flex: 1; /*makes everything the same size*/ 
  display: flex;
  flex-direction: row; 
  align-items: center;
  width:100%;
}


.secondRow{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



.calendar{
  width:55%;
  margin-right:2%;
  float: left;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.checklist{
  width:30%;
  text-align: left;
  justify-content: space-evenly;
}


.calendarAndChecklist{
  height: 400px;
}


.col {
  width: 30%;
  margin-left: auto;
}

.col + .col {
  margin-left: 5%;
  margin-right: 20%;
}