
.homePage{ /* artists is an array that holds each of the artist objects and its information. this is styling all of the columns as a whole */
  flex-direction: row;
  justify-content: space-evenly;
  width:100%;
}

.rowItems{
  flex: 1; /*makes everything the same size*/ 
  display: flex;
  flex-direction: row; 
  align-items: center;
  width:100%;
  min-height: auto;
}


.secondRow{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0%;
}



.calendar{
  width:58%;
  margin-right:2%;
  float: left;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.checklist{
   width:auto;
  text-align: left;
}


.calendarAndChecklist{
  height: 400px;
}


.col {
  width: 30%;
  margin-left: auto;
}

.col + .col {
  margin-left: 4%;
  margin-right: 18%;
}
  
  
  .sprint{ /* artist is each artist on its own (styling each of the artist columns */
    flex: 1; /*makes everything the same size*/ 
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }

  .songEmbed {
    display: block;
    margin-top: auto;
    margin-right: auto;
  }
